06-php-xml-todo/schemas/task.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="task">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="description" type="xs:string" minOccurs="0"/>
        <xs:element name="category" type="xs:string"/>
        <xs:element name="status">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="nezahajene"/>
              <xs:enumeration value="zahajene"/>
              <xs:enumeration value="dokoncene"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="dueDate" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

